<mat-form-field>
  <input matInput placeholder="Text lookup" [(ngModel)]="searchText">
</mat-form-field>

<mat-list *ngIf="tweets">
  <mat-list-item *ngFor="let tweet of tweets | tweetFilter: searchText; trackBy: trackById">
    <h3 matLine>{{tweet.user.name}} <strong>{{  tweet.created_at | relativeDate }}</strong></h3>
    <p matLine>
      <span>{{tweet.text}}</span>
    </p>
    <p matLine>
      <small>{{tweet.favorite_count || 0}} likes, {{tweet.retweet_count || 0}} retweets</small>
    </p>
  </mat-list-item>
</mat-list>

{{ blink() }}
